<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
    
<head>
	<title>Craft Knowledge</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="../static/css/b.css" th:href="@{/css/b.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img th:src="@{https://media-exp1.licdn.com/dms/image/C4E0BAQF6qgY7v-Kikw/company-logo_200_200/0/1551570773507?e=1620864000&v=beta&t=IHYo1Rc_sEqIvnUIkF_9cpQ7xb9nt7htgKAQsvM5OAU}" class="brand_logo" alt="Logo">
					</div>
					
				</div>
				<div class="d-flex justify-content-center form_container">
					<form th:action="@{/registration}" method="post" th:object="${admin}">
						<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						craft knowledge!</div>
				</div>
						<!-- error message -->
				<div th:if="${param.error}">
					<div class="alert alert-danger">The email already registered!</div>
				</div>
				

						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="firstname" th:field="*{firstname}" required class="form-control input_user" value="" placeholder="First Name">
						</div>
						
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-camera-retro"></i></span>
							</div>
							<input type="text" name="lastname" th:field="*{lastname}" required class="form-control input_user" value="" placeholder="Last Name">
						</div>
						
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope"></i></span>
							</div>
							<input type="email" name="email" th:field="*{email}" required class="form-control input_user" value="" placeholder="Email">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password" required th:field="*{password}" class="form-control input_pass" value="" placeholder="password">
						</div>
							<div class="d-flex justify-content-center mt-3 login_container">
								<input type="submit"  id="login-submit"
									class="form-control btn btn-success login_btn" value="Register" />
			
				   </div>
					</form>
				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Already registered?? <a href="/" th:href="@{/login}" class="ml-2">Sign In</a>
					</div>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>
